*{
  margin:1 auto;
  text-align:center;
}
img{
  margin: 0 auto;
}
 a{display: inline-block;}
 h1{display: inline-block;
      vertical-align: 8px;
      color: orange;
   margin:0 auto;
}
.s{
  display:block;
  width:200px;
  float:left;
}
